<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buldge</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="button-container">
    <ion-button class="custom-button">Baixar Xlsx modelo</ion-button>
   
    <ion-button shape="" fill="outline">Inserir manualmente</ion-button>
  </div>
  <div class="card-container">
    <div class="value-card">
      <ion-item class="upload-button">
        <ion-label class="upload-label">Escolher Arquivo   .</ion-label>
        <input type="file" accept=".xlsx" (change)="handleFileInput($event)">
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>Valor total: 168 Mil</p>
        </ion-card-content>
      </ion-card>
      <!-- <div class="images-container">
        <img src="https://i.ibb.co/PN3t3M1/Imagem-do-Whats-App-de-2023-06-09-s-02-34-20.jpg" alt="errei" class="lats">
        <img src="https://i.ibb.co/F593BKx/cimento.jpg" alt="" class="lats">
      </div> -->
    </div>
    
  </div>
  <div id="conteudo" style="display: flex;">
    <div class="value-card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tabela de Valores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Cimento</ion-label>
              <ion-label class="value">R$ 500,00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Ferro</ion-label>
              <ion-label class="value">R$ 800,00</ion-label>
            </ion-item>
            <!-- Adicione mais itens de tabela conforme necessário -->
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="value-card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Gráfico de Exemplo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div id="chart_div_buldge"></div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<style>
  .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .value-card {
    flex: 1;
    margin-right: 10px;
    max-width: 50%;
    
  }

  #chart_div_buldge {
    width: 100%;
    height: 800px; 
    
  }

  #chart_div_buldge > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>
  