<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cronograma</ion-title>
    <ion-buttons slot="end">
      <ion-select placeholder="Opções" [(ngModel)]="selectedOption">
        <ion-select-option value="gant">Gráfico de Gantt</ion-select-option>
        <ion-select-option value="kanban">Kanban</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cronograma</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Conteúdo do Gráfico de Gantt -->
  <ng-container *ngIf="selectedOption === 'gant'; else kanbanTemplate">
    <div class="container">
      <div class="element">
        <!-- Adicionar Tarefa -->
        <ion-button expand="full" (click)="addTask()">Adicionar Tarefa</ion-button>
      </div>
      <div class="element">
        <!-- Entrada de texto para quantidade de semanas -->
        <ion-item>
          <ion-label>Quantidade de Semanas:</ion-label>
          <ion-input type="number" [(ngModel)]="numberOfWeeks"></ion-input>
        </ion-item>
      </div>
      <div class="element">
        <!-- Ion Select para escolher a semana -->
        <ion-item>
          <ion-label>Semanas:</ion-label>
          <ion-select placeholder="Selecione uma semana" [(ngModel)]="selectedWeek" (ionChange)="changeWeek()">
            <ion-select-option *ngFor="let week of weeks" [value]="week">{{ week }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <div class="table-container" style="background-color: azure">
      <table style="text-align: center; border-color: black; border: 10px">
        <tr>
          <th style="text-align: center; border-color: black; border: 10px"></th>
          <ng-container style="text-align: center; border-color: black; border: 10px" *ngFor="let row of rows">
            <th style="text-align: center; border-color: black; border: 10px">
              {{ row.label }}
            </th>
          </ng-container>
        </tr>
        <tr *ngFor="let item of items; let i = index">
          <td>{{ item }}</td>
          <td
            *ngFor="let row of rows; let j = index"
            (click)="cellClicked(j, i)"
            [ngStyle]="{ 'background-color': rows[j].cells[i] }"
          >
          </td>
        </tr>
      </table>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais itens..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <!-- Template para exibir o cartão de Kanban -->
  <ng-template #kanbanTemplate>
    <div class="kanban-cards">
      <ion-card class="kanban-card todo" (dragover)="allowDrop($event)" (drop)="onDrop($event, 'todo')">
        <ion-card-header>
          Para fazer
        </ion-card-header>
        <ion-card-content>

          
<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
  <ion-card-header>
    Atividade 
  </ion-card-header>
  <ion-card-content>
   19 - INSTALAÇÃO DE SPDA
  </ion-card-content>
</ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
  <ion-card-header>
    Atividade 
  </ion-card-header>
  <ion-card-content>
    20 - LOUÇAS E METAIS
  </ion-card-content>
</ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
  <ion-card-header>
    Atividade 
  </ion-card-header>
  <ion-card-content>
    21 - ENERGIA SOLAR
  </ion-card-content>
</ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
  <ion-card-header>
    Atividade 
  </ion-card-header>
  <ion-card-content>
    22 - MÃO DE OBRA DE INSTALAÇÕES GERAIS
  </ion-card-content>
</ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
  <ion-card-header>
    Atividade 
  </ion-card-header>
  <ion-card-content>
    23 - ITENS EXTRA
  </ion-card-content>
</ion-card>

          
        </ion-card-content>
      </ion-card>
  
      <ion-card class="kanban-card fazendo" (dragover)="allowDrop($event)" (drop)="onDrop($event, 'fazendo')">
        <ion-card-header>
          Fazendo
        </ion-card-header>
        <ion-card-content>
          <!-- Conteúdo do cartão Kanban "Fazendo" -->

          <ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              13 - INSTALAÇÃO DE ÁGUA
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              14 - COMBATE A INCÊNDIO
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              15 - INSTALAÇÃO EXAUSTÃO
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              16 - INSTALAÇÃO DE GÁS
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              17 - INSTALAÇÃO DE TELEFONE / ANTENA
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              18 - INSTALAÇÃO DE AR CONDICIONADO
            </ion-card-content>
          </ion-card>




        </ion-card-content>
      </ion-card>
  
      <ion-card class="kanban-card feito" (dragover)="allowDrop($event)" (drop)="onDrop($event, 'feito')">
        <ion-card-header>
          Feito
        </ion-card-header>
        <ion-card-content>
          <!-- Conteúdo do cartão Kanban "Feito" -->

          <ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              01 - DESPESAS INDIRETAS
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              02 - AQUISIÇÕES
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              03 - SERVIÇOS PRELIMINARES / MOVIMENTO DE TERRA
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              04 - FUNDAÇÕES
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              05 - PAVIMENTO PILOTIS - 1a Pav.
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
             06 - PAVIMENTO VAZADO - 2º Pav.
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              07 - PAVIMENTO TIPO - CIVIL
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
             08 - PAVIMENTO COBERTA / CASA DE MÁQUINAS - 19º Pav.
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              09 - CAIXA D'ÁGUA - RESERVATÓRIO SUPERIOR
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              10 - INSTALAÇÕES PROVISÓRIAS
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
             11 - INSTALAÇÕES ELÉTRICAS
            </ion-card-content>
          </ion-card>

<ion-card class="sub-card" draggable="true" (dragstart)="onDragStart($event, 'sub-cartao-1')">
            <ion-card-header>
              Atividade 
            </ion-card-header>
            <ion-card-content>
              12 - INSTALAÇÕES DE ESGOTO
            </ion-card-content>
          </ion-card>


        </ion-card-content>
      </ion-card>
    </div>
    <style>
      .kanban-cards {
        display: flex;
        flex-direction: row;
        height: 100vh;
      }
  
      .kanban-card {
  flex: 1;
  margin: 0 5px;
  max-width: calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto; /* Adicione esta linha para tornar o cartão scrollável */
}
  
      .kanban-card ion-card-content {
        flex: 1;
      }
  
      .sub-card {
        margin-top: 10px;
        background-color: white; /* Fundo branco para sub-cartões */
        padding: 10px;
        border-radius: 5px;
      }
  
      .todo {
        border: 3px solid #e57373; /* Borda vermelha para cartão "Para fazer" */
      }
  
      .fazendo {
        border: 3px solid #64b5f6; /* Borda azul para cartão "Fazendo" */
      }
  
      .feito {
        border: 3px solid #81c784; /* Borda verde para cartão "Feito" */
      }
    </style>
  </ng-template>
  

  
  
</ion-content>
