<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cronograma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cronograma</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="element">
      <!-- Adicionar Tarefa -->
      <ion-button expand="full" (click)="addTask()">Adicionar Tarefa</ion-button>
    </div>
    <div class="element">
      <!-- Entrada de texto para quantidade de semanas -->
      <ion-item>
        <ion-label>Quantidade de Semanas:</ion-label>
        <ion-input type="number" [(ngModel)]="numberOfWeeks"></ion-input>
      </ion-item>
    </div>
    <div class="element">
      <!-- Ion Select para escolher a semana -->
      <ion-item>
        <ion-label>Semanas:</ion-label>
        <ion-select placeholder="Selecione uma semana" [(ngModel)]="selectedWeek" (ionChange)="changeWeek()">
          <ion-select-option *ngFor="let week of weeks" [value]="week">{{ week }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div class="table-container" style="background-color: azure">
    <table style="text-align: center; border-color: black; border: 10px">
      <tr>
        <th style="text-align: center; border-color: black; border: 10px"></th>
        <ng-container
          style="text-align: center; border-color: black; border: 10px"
          *ngFor="let row of rows"
        >
          <th style="text-align: center; border-color: black; border: 10px">
            {{ row.label }}
          </th>
        </ng-container>
      </tr>
      <tr *ngFor="let item of items; let i = index">
        <td>{{ item }}</td>
        <td
          *ngFor="let row of rows; let j = index"
          (click)="cellClicked(j, i)"
          [ngStyle]="{ 'background-color': rows[j].cells[i] }"
        >
          
        </td>
      </tr>
    </table>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais itens..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <style>
    .container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .element {
      flex: 1;
      margin-right: 10px;
    }

    .table-container {
      overflow-x: auto;
    }

    .horizontal-scroll {
      display: flex;
      overflow-x: auto;
    }
  </style>
</ion-content>
